
.app{
    width: 100%;
    height: 110%;
    background-image: radial-gradient(ellipse at 50% 104%, #7701b3 0%,#3c2057 5%,#131212 58%);
    background-size:cover;
    position: absolute
}
.appLanding{
    width: 100%;
    height: 110%;
    background-image: radial-gradient(ellipse at 50% 104%, #7701b3 0%,#3c2057 5%,#131212 58%);
    background-size:cover;
    position: relative
}


.section {
  padding: 70px 0;
  position: relative; }
  .section .row + .category {
    margin-top: 15px; }
  .section .carousel {
    width: 100%; }

.path {
  position: absolute;
  opacity: 0.02; }

.dots {
  position: absolute;
  opacity: 0.07;
  z-index: 2; }

.shapes {
  position: absolute;
  opacity: 0.02;
  z-index: 2; }

.main {
  position: relative;
  width: 100%; }

.section-navbars {
  padding-bottom: 0;
  overflow: hidden; }
  .section-navbars .navbar {
    z-index: 2; }
  .section-navbars img.path {
    left: -400px; }

.section-typo {
  overflow: hidden; }
  .section-typo .path {
    right: -400px; }
  .section-typo .path1 {
    bottom: 5%;
    width: 70%;
    left: -200px; }

.section-pagination .path {
  width: 65%;
  right: 0%;
  top: 48%; }

.section-pagination .path1 {
  width: 30%;
  top: 0;
  left: 3%; }

.section-javascript {
  overflow: hidden; }
  .section-javascript .path {
    right: -300px;
    width: 80%; }
  .section-javascript .path1 {
    width: 25%;
    left: 3%;
    top: 0; }

.section-full-screen {
  height: 100vh; }

.section-signup {
  padding-top: 20vh;
  overflow: hidden; }
  .section-signup .square {
    background-size: cover; }
  .section-signup .square-1 {
    height: 300px;
    width: 300px;
    background-image: url("../../assets/img/square1.png");
    top: 80px;
    left: 100px;
    opacity: 0.3;
    animation-duration: 5s; }
  .section-signup .square-2 {
    height: 200px;
    width: 200px;
    background: url("../../assets/img/square3.png");
    background-size: cover;
    bottom: 40px;
    left: 600px;
    opacity: 0.1;
    animation-duration: 8s; }
  .section-signup .square-3 {
    height: 100px;
    width: 100px;
    background: url("../../assets/img/square2.png");
    background-size: cover;
    top: 300px;
    left: 700px;
    animation-duration: 5s; }
  .section-signup .square-4 {
    height: 250px;
    width: 250px;
    background: url("../../assets/img/square3.png");
    background-size: cover;
    top: 0px;
    right: 100px;
    opacity: 0.8;
    animation-duration: 9s; }

.title{
    text-align: center;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    h3{
        color: #fff;
        letter-spacing: 1px;
        font-size: 27px;
    }
    h4{
         color: #fff;
        letter-spacing: 1px;
        font-size: 18px;
    }
    hr{
    border-color: rgba(255, 255, 255, 0.85);
    position: relative;
    margin: 15px auto 25px;
    width: 43px;
    overflow: visible;
    }
}
.linkMain{
    display: block;
    color: #fff;
    padding-bottom: 10px;
    cursor: pointer;
    margin: 0px 12px;
    border-bottom: 1px solid rgba(0,0,0,0);
    font-size: 12px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.linkMain:hover{
      color: #fff;
      border-bottom: 1px solid #7500b1;
}
.explication{
    max-width: 95%;
    max-height: 50%;
}
.explicationText{
color: #fff;
margin-top: 25%;
}
.squares {
    animation: move-left-right 1s infinite;
    background: #ba54f5;
    background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%; }
 .squares .square1 {
      animation: move-left-right 4s infinite;
      height: 300px;
      width: 300px;
      opacity: 0.5;
      left: 3%;
      top: -21%; }
 .squares .square2 {
      animation: move-left-right 6s infinite;
      height: 400px;
      width: 400px;
      opacity: 0.4;
      right: -5%;
      top: -12%; }
    .squares .square3 {
      animation: move-left-right 5s infinite;
      height: 200px;
      width: 200px;
      opacity: 0.1;
      left: -5%;
      bottom: 0%; }
     .squares .square4 {
      animation: move-left-right 10s infinite;
      height: 100px;
      width: 100px;
      opacity: 0.9;
      right: 27%;
      top: 70%; }
     .squares .square5 {
      animation: move-left-right 6s infinite;
      height: 250px;
      width: 250px;
      opacity: 0.1;
      left: 32%;
      bottom: 29%; }
   .squares .square6 {
      animation: move-left-right 9s infinite;
      left: 10%;
      top: 35%;
      height: 80px;
      width: 80px;
      opacity: 0.8; }
     .squares .square7 {
      animation: move-left-right 3s infinite;
      width: 300px;
      height: 300px;
      right: -5%;
      bottom: 0%;
      opacity: 0.1; }
  
#images{
    color: #fff
}
.content-center {
    position: relative;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;


    &.brand {
      width: 47%;
    }

}